<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Your Search Is Empty</strong>
    <p
      class="sf-display-bold"
    >
      Explore
      <a
        class="sf-display-bold"
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
      >TV shows or movies you search will appear here.</a
      >
    </p>
  </div>
</ion-content>
