<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label >Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="movies" href="/tabs/movies">
      <ion-icon aria-hidden="true" name="film"></ion-icon>
      <ion-label>Movies</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="series" href="/tabs/series">
      <ion-icon name="tv"></ion-icon>
      <ion-label>Series</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
